* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

body {
    background-color: purple;
}

.logo {
    width: 300px;
    display: block;
    margin: 20px auto;
}

main {
    width: 375px;
    background: white;
    border-radius: 20px;
    margin: 0 auto 40px;
    padding: 44px 24px 23px;
}

label {
    color: gray;
    font-weight: 700;
    font-size: 14px;
}

select, input {
   background: white;
   border: 1px solid gray;
   border-radius: 4px;
   height: 48px;
   width: 100%;
   margin-bottom: 24px;
   appearance: none;  
   padding-left: 18px;
   font-weight: 700;
   font-size: 16px;
   color: black;
   cursor: pointer;
}

button {
    background: purple;
    border-radius: 5px;
    width: 100%;
    border: none;
    height: 48px;
    color: white;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: 0.6;
}

section {
    border: 1px solid purple;
    border-radius: 20px;
    margin-top: 36px;
    padding: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.arrow {
    margin: 15px;
}

.currency-box {
    display:  flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.currency {
    color: gray;
    font-weight: 700;
    font-size: 20px;
}

.currency-value, .currency-value-to-convert {
   color: gray;
   font-weight: 700;
   font-size: 20px;
}